/* Table border sizes */
.table-bold {
    border: 2px solid !important;
}

.table-top-bordered {
    border-top: 2px solid !important;
}

.border-right-transparent>.align-middle:nth-child(1),
.border-right-transparent>.align-middle:nth-child(5) {
    border-right: 2px solid !important;
}

.table-bottom-bordered {
    border-bottom: 2px solid !important;
}

.table-bold tr {
    background-color: transparent !important;
}

.table-mkt2 thead tr th,
.table-mkt2 tbody tr td,
.table-mkt3 thead tr th,
.table-mkt3 tbody tr td {
    border: 1px solid #000;
    text-align: center;
    padding: .1rem !important;
    font-weight: bold;
}
.table-mkt2 tbody tr td:first-child,
.table-mkt3 tbody tr td:first-child {
    font-weight: 600;
}

.table-mkt2,
.table-mkt3,
.table-mkt4 {
    border: 2px solid !important;
    font-size: 14px;
    margin-bottom: 0;
}

.table-mkt4 tbody tr td,
.table-mkt4 thead tr th,
.table-mktr-b2c tbody tr td,
.table-mktr-b2c thead tr th,
.table-mktr-b2b tbody tr td,
.table-mktr-b2b thead tr th {
    border: 1px solid #000;
    text-align: center;
    padding: .1rem !important;
    font-weight: 600;
}
.table-mkt4 tbody tr td:first-child {
    text-align: left !important;
}
.table-mkt4 tbody tr:nth-child(1) td:first-child,
.table-mkt4 tbody tr:nth-child(6) td:first-child,
.table-mkt4 tbody tr:nth-child(11) td:first-child,
.table-mkt4 tbody tr:nth-child(16) td:first-child,
.table-mkt4 tbody tr:nth-child(21) td:first-child {
    text-align: center !important;
    font-weight: bold;
}
.table-mktr-b2c .border-right-transparent>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent>.align-middle:nth-child(5) {
    border-right: 1px solid !important;
}

.table-mktr-b2c .border-right-transparent>.align-middle:nth-child(1),
.table-mktr-b2c .border-right-transparent>.align-middle:nth-child(6),
.table-mktr-b2b .border-right-transparent>.align-middle:nth-child(1),
.table-mktr-b2b .border-right-transparent>.align-middle:nth-child(6) {
    border-right: 2px solid !important;
}

.table-mktr-b2b .border-right-transparent:nth-child(3)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(4)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(5)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(6)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(9)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(10)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(11)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(12)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(15)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(16)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(17)>.align-middle:nth-child(5),
.table-mktr-b2b .border-right-transparent:nth-child(18)>.align-middle:nth-child(5) {
    background: #dcdcdc4f !important;
}

.table-mktr-b2c .border-right-transparent:nth-child(5) td {
    border-bottom: 1px solid black !important;
}

.table-mktr-b2c .border-right-transparent:nth-child(3)>.align-middle:nth-child(5),
.table-mktr-b2c .border-right-transparent:nth-child(4)>.align-middle:nth-child(5),
.table-mktr-b2c .border-right-transparent:nth-child(5)>.align-middle:nth-child(5),
.table-mktr-b2c .border-right-transparent:nth-child(8)>.align-middle:nth-child(5),
.table-mktr-b2c .border-right-transparent:nth-child(9)>.align-middle:nth-child(5),
.table-mktr-b2c .border-right-transparent:nth-child(10)>.align-middle:nth-child(5) {
    background: #dcdcdc4f !important;
}

.table-mktr-b2b .border-right-transparent:nth-child(11) td,
.table-mktr-b2b .border-right-transparent:nth-child(12) td,
.table-mktr-b2b .border-right-transparent:nth-child(17) td,
.table-mktr-b2b .border-right-transparent:nth-child(18) td {
    border-top: none;
    border-bottom: none;
}
/* Table font sizes */


/* Table backgrounds, colors and weights */

tr.bg-blue>.align-middle,
.bg-blue-400.font-bold {
    background-color: #BDD7EE;
    font-weight: bold;
}

.bg-grey.font-400>.align-middle {
    background-color: #D9D9D9;
}

.bg-grey.font-bold>.align-middle {
    background-color: #D9D9D9;
    font-weight: bold;
}

.bg-orange {
    background-color: #F8CBAD !important;
}

.br-transparent {
    border-right-color: transparent !important;
}

tr.border-bottom-transparent>.align-middle {
    border-bottom-color: transparent !important;
}

.table-bold tr.bg-light-blue {
    background-color: #ecf6ff !important;
}

/** table mkt4 **/
.table-mkt4 .border-right-transparent>.align-middle:nth-child(3),
.table-mkt4 .border-right-transparent>.align-middle:nth-child(5),
.table-mkt4 .border-right-transparent>.align-middle:nth-child(7),
.table-mkt4 .border-right-transparent>.align-middle:nth-child(9),
.table-mkt4 .border-right-transparent>.align-middle:nth-child(11) {
    border-right: 2px solid !important;
}

.table-mkt4 thead>.border-right-transparent>.align-middle:nth-child(2),
.table-mkt4 thead>.border-right-transparent>.align-middle:nth-child(3),
.table-mkt4 thead>.border-right-transparent>.align-middle:nth-child(4),
.table-mkt4 thead>.border-right-transparent>.align-middle:nth-child(5) {
    border-right: 2px solid !important;
}

.table-mkt4 thead>.border-right-transparent>.align-middle:nth-child(5) {
    border-right: 2px solid !important;
}

.table-mkt4 tr.bg-light-blue {
    border-top: 2px solid !important;
}

.table-mkt4 tbody tr.bg-light-blue:nth-child(11)>.align-middle {
    background-color: #c1dbf3 !important;
}

.table-mkt4 tbody tr.bg-light-blue:nth-child(21)>.align-middle {
    background-color: #a1c6ec !important;
}

.nbd-table tr th,
.nbd-table tr td {
    border: 1px solid black;
    text-align: center;
}

.table-mkt2 input,
.table-mkt3 input,
.table-mkt4 input {
    width: 95%;
    margin: 0 auto;
}

.td-success {
    background: #1AB069DD !important;
}
.td-success>span {
    color: white !important;
}

.td-danger {
    background: #d92839e8 !important;
}
.td-danger>span {
    color: white !important;
}

.finance-table {
    border: 1px solid black !important;
}

.finance-table thead,
.finance-table tbody {
    border: 2px solid black !important;
}
.finance-table thead tr th:nth-child(14),
.finance-table thead tr th:nth-child(2),
.finance-table tbody tr td:nth-child(2),
.finance-table tbody tr td:nth-child(14) {
    border-left: 2px solid black !important;
}


.finance-table input {
    width: 95%;
    margin: 0 auto;
}

.finance-table .item-name {
    width: 11%;
}
.finance-table .child-name {
    color: black;
    padding-left: 20px;
}
.finance-table .tr-name {
    font-weight: 600;
}

#menuBarDiv_result {
    font-size: 12px!important;
}

